body {
	padding: 0;
	margin: 0;
	background: #DCDCDC;
	font-family: "calibri", Garamond, 'Comic Sans MS'; 

}

.container{
	position: relative;
	box-sizing: border-box;
}

/* --- Header ---*/

.header{
	background: red;
	font-size: 13px;
	width: 100%;
	position: fixed;
	z-index: 2;
	padding: 5px;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
    box-shadow: 0px 1px 1px #888888;
}

.header-list {
	float: left;
	position: absolute;
	left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-list ul li{
	list-style-type: none;
	display: inline;
	padding: 5px;
}

.header-list a{
	color: inherit;
	text-decoration: none;
}

.header-list a:hover{
	color: #0082A4;
	text-decoration: underline;
}


.login{
	display: block;
	padding: 0;
	float: right;
	margin-right: 5%;
	
}


#search{
	border-radius: 20px;
	background: #DCDCDC;
	border: 2px solid white;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: inherit;
	
}


#search input[type="search"]{
	background: inherit;
	border: none;

}

#search input[type="submit"]{
	background: inherit;
	background-size: cover;
	background-image: url('./img/search.png');
	border: none;
	cursor: pointer;	

}


#login-link{
	color: gray;
}

#login-link:hover{
	cursor: pointer;
}

#login-block{
	display: none;
	border-radius: 8px;
	position: fixed;
	background: white;
	left: 74%;
	padding: 5px;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

#login-block table{
	border-spacing: 5px;
	margin: auto;
	width: 100%;
	
}

#login-block table tr td{
	padding: 5px;
	
}

#login-block input{
	width: 100%;
	border-radius: 5px;
	padding: 3px;
	border: 1px solid #C0C0C0;
}

#login-block input:focus{
	border: 2px solid #4682B4;
	border-radius: 5px;
}

#login-block .submit-in{
	border-radius: 10px;
	padding: 5px;
	color: black;
	border: 2px solid #0082A4;
	font-weight: bold;
	background: white;
}

#login-block .submit-reg{
	text-align: center;
	border-radius: 10px;
	padding: 5px;
	border: 2px solid #0082A4;
	font-weight: bold;
	background: #0082A4;
	color: white;
	cursor: pointer;

}

.submit-reg a{
	color: inherit;
	text-decoration: none;
	display:block;

}


#login-block .submit-in:hover{
	background: #0082A4;
	color: white;
	cursor: pointer;
}


#login-block .submit-reg:hover{
	border-radius: 10px;
	color: black;
	padding: 5px;
	border: 2px solid #0082A4;
	font-weight: bold;
	background: white;
}


/* --- Header image ---*/

.header-img{
	width:100%; 
	height: 300px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	position: relative;
	background-image: url(./img/house.jpg);


}

/* Info line ---*/

.info-line {
	
	background: white;
	box-shadow: 10px 10px 5px #888888;
	font-size: 0.8em;
	padding-bottom: 0;
	
}


.info-line table{
	margin: auto;
	border-spacing: 0;
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;

}

.info-line span{
	display: block;
	padding: 2px;
}

.info-line table tr td{
	width: 20%;
	padding-left: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: #888888;
	font-size: 12px;
	box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    border-bottom: 2px solid white;
    position: relative;
}

.info-line table tr td:hover{
	border-bottom: 2px solid #0082A4;
}

.info-line a{
	color: inherit;
	text-decoration: none;
}

.info-line .new_friends{
	position: absolute;
	padding: 0;
	top: 10%;
	right: 0;
	z-index: 1;
	background: #DCDCDC;
	border-radius: 3px;
	color: #B22222;
}


/*--- Person image ---*/

.logo-img {
	z-index: 1;
	position: absolute;
    bottom: -100px;
    left: 6%;
    background: white;
    border-radius: 15vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
   
	
}

.logo-img img{
	object-fit: cover;
	height: 30vh;
    width: 30vh;
    border-radius: 15vh;
    border: 5px solid white;
    

}

/*--- General container ---*/

.general-container{
	margin-top: 50px;
	overflow: hidden;
}

/*-- Person description ---*/

.person-description{
	width: 25%;
	float: left;
	overflow-wrap: break-word;
	box-sizing: border-box;
	font-size: 0.85em;

}

.person-description-table-base{
	width: 80%;
	margin-left: 15%;
	border-spacing: 5px;
	
}

.person-description-img-cell{
	width: 10%;
}


.person-description img{
	width: 100%;
	border-radius: 7px;
}

.person-description a{
	color: inherit;
	text-decoration: none;
}

.person-description a:hover{
	color: #0082A4;
	text-decoration: underline;
}

.person-description-album {
	width: 100%;
	border-spacing: 5px;
}

.person-description-album tr td{
	width: 30%;
	border: 1px solid black;
	
}

/* Person wall ---*/

.person-wall{
	width: 45%;
	margin-left: 3%;
	float: left;
	background: white;
	overflow-wrap: break-word;
	box-sizing: border-box;
	min-height: 40vh;
	display: inline-block;

}



/*--- Wall record ---*/

.wall-record{
	overflow: hidden;
	padding: 10px;
	border-bottom: 1px solid #888888;
	box-sizing: border-box;


}

.wall-record:hover{
	background: #F5F5F5;
}


/*--- Wall record person image ---*/
.wall-record-logo{
	float: left;
}

.wall-record-logo img{
	object-fit: cover;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	border: 1px solid gray;
	
}

.author_link{
	color: #0082A4;
	text-decoration: none;
}

/*--- Wall record person info ---*/

.wall-record-info{
	margin-left: 60px;
	
}

.wall-record-info table{
	width: 100%;
}

.date{
	color: gray;
	font-size: 10px;
}

/*--- Wall record itself ---*/
.wall-record-self{
	padding: 5px;
	font-size: 0.85em;
	color: #00200F;
	box-sizing: border-box;
	font-family: "Helvetica Neue",Modern,Arial,sans-serif;
	
}

.wall-record-self img{
	object-fit: cover;
	max-height: 50vh;
	max-width: 50vh;
}

/*--- Meta information of record ---*/
.wall-record-meta{
	margin-left: 60px;
	overflow: hidden;
	padding: 5px;
	
}

.wall-record-meta .meta_img{
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.wall-record-like{
	float:left;
	padding-right: 5px; 
}

.wall-record-repost{
	float:left;
	margin-left: 10px;
	padding-right: 5px; 
}
.wall-record-comment{
	float:left;
	margin-left: 10px;
	padding-right: 5px; 
}

.comments_box{
	margin-left: 60px;
	width: 80%;
	overflow: hidden;
	padding: 5px;
	
}

.comments{
	box-sizing: border-box;
}

.comment_img{
	width: 40px;		
}

.comment_img img{
	width: 40px;
	height: 40px;
	object-fit: cover;
	border: 1px solid gray;
	border-radius: 20px;
}

.comments table{
	margin-top: 5px;
	width: 100%;
	
}

.comments table tr td{
	padding-left: 5px; 
}

.comments a{
	text-decoration: none;
	color: #0082A4;
}

.comments table:hover{
	background: white;
}


#comment-form, #message-form{
	position: absolute;
	width: 30%;
	top: 40%;
	left: 35%;
	border: 1px solid gray;
	background: #DCDCDC;

}


#comment-form table, #message-form table{
	padding-left: 5px;
	width: 100%;
}

#comment-form table tr td, #message-form table tr td{
	padding-bottom: 10px;
	
}


#comment-form img, #message-form img{
	width: 20px;
	cursor: pointer;
}
 
#comment-form textarea, #message-form textarea{
	width: 100%;
	height: 15vh;
	font-size: 1.2em;
	box-sizing: border-box;
	resize: none;
}

#message-botton{
	border: 2px solid gray;
}


#Wrap1, #Wrap2{
 z-index: 1000;
 top:0;
 left:0;
 position:fixed;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.5);
}



/*--- Other info ---*/
.other-info{
	width: 20%;
	margin-left: 2%;
	background: white;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	font-family: "Helvetica Neue",Swiss,Arial,sans-serif;

	
}

.other-info img{
	object-fit: cover;
	height: 50px;
	width: 50px;
	border-radius: 25px;
}

.other-info a{
	text-decoration: none;
	color: black;
}

.other-info table{
	border-spacing: 0;	
}

.other-info table tr td{
	padding: 5px;	
}

.other-info-logo{
	width: 20%;
}

.other-info-person-name{
	width: 80%;
	text-align: left;
	word-break: break-all;
}


/*--- Footer ---*/
#footer{
	clear: both;
	text-align: center;
	width: 45%;
	margin-left: 28%;
}