body {
	padding: 0;
	margin: 0;
	font-family: "calibri", Garamond, 'Comic Sans MS'; 
	/* background: url(./img/header-foto.jpg)  no-repeat; */
	background-color: whitesmoke;

}

.container{
	position: relative;
	box-sizing: border-box;
	background: #f5abd7;
	background: -webkit-linear-gradient(right, #f5abd7, #59b6cd);
	background: linear-gradient(right, #f5abd7, #59b6cd);
}

/* --- Header ---*/

.header{
	background: white;
	font-size: 13px;
	width: 100%;
	position: fixed;
	z-index: 2;
	padding: 5px;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
    box-shadow: 0px 1px 1px #888888;                                                                                                              
}

.header-list {
	float: left;
	position: absolute;
	left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-list ul li{
	list-style-type: none;
	display: inline;
	padding: 5px;
}

.header-list a{
	color: inherit;
	text-decoration: none;
}

.header-list a:hover{
	color: #00BFFF;
	text-decoration: underline;
}


.login{
	display: block;
	padding: 0;
	float: right;
	margin-right: 5%;
	
}



#search{
	border-radius: 20px;
	background: #DCDCDC;
	border: 2px solid white;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: inherit;
	
}


#search input[type="search"]{
	background: inherit;
	border: none;

}

#search input[type="submit"]{
	background: inherit;
	background-size: cover;
	background-image: url(./img/search.png);
	border: none;
	cursor: pointer;	

}


/* --- Header image ---*/

.header-img{
	width:100%; 
	min-height: 100vh;
	position: relative;
	
}


#login-block{
	border-radius: 8px;
	position: relative;
	margin-top: 5%;
	padding: 5px;
	width: 35%;
	height: 320px;
	margin-right: 3%;
	float: right;
	z-index: 2;
}

.bg2{
	position: absolute;
	width: 100%;
	height: 900px;
	background-image: url('./img/background2.png');
	filter: blur(40px);
	z-index: 1;
} 

#login-block table{
	border-spacing: 5px;
	margin: auto;
	width: 100%;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
	
}

#login-block table tr td{
	padding: 5px;
	
}

#login-block input{
	width: 100%;
	border-radius: 5px;
	padding: 3px;
	border: 2px solid #00BFFF;
	background: white;
}

#login-block input:focus{
	border: 2px solid #00BFFF;
	border-radius: 5px;
	background: white;
}

#login-block #submit-in{
	border-radius: 10px;
	padding: 5px;
	color: white;
	border: 2px solid #00BFFF;
	font-weight: bold;
	background: #00BFFF;
}

#login-block #submit-reg{
	border-radius: 10px;
	padding: 5px;
	/* border-color: white; */
	/* border: 2px solid #30124a; */
	font-weight: bold;
	/* background: white; */
	color: black;
	cursor: pointer;
	text-align: center;
	font-size: 0.8em;

}


.slogan{
	border-radius: 8px;
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	padding: 20px;
	width: 40%;
	float: left;
	font-size: 1.5em;
	line-height: 1.5em;
	color: black;
	-moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari и Chrome */
    box-sizing: border-box; /* Для IE и Opera */
}

.slogan span{
	font-size: 1.8em;
}

#submit-in{
	height: 40px;
	font-size: small;
}

#submit-reg{
	height: 40px;	
}

/* #reg{
	font-size: medium;
	margin-bottom: 10px;
} */
