{%extends 'base.html'%}
{%load static%}

{%block head%}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'my_chats.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'my_page.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/my_page.js' %}"></script>

<script type="text/javascript">
    var username = '{{user.username}}';
    var date_last_change;

</script>
<script type="text/javascript" src="{% static 'js/my_chats.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my_chats_ajax.js' %}"></script>
<script type="text/javascript">
    setInterval(review_new_message, 5000);
</script>
{%endblock%}



{%block person-wall%}

<div class="center-container" id="chats">
    <div>
        <div class="add-rec-and-search" style="transform: translateY(-20%);">
            <div>
                {%if person == user%}
                           <!-- <span id="add_record" onclick="show_add_record_form()"><a id="but-add-rec">Добавить запись</a></span>  -->
                <button id="add_record1" onclick="show_add_record_form()">Добавить запись</button>
                {%endif%}
            </div>
            <form action="/search">

                <div id="search1" onclick="search_style(event)">
                    <input id="search-line" type="search" placeholder="Поиск людей" name="search_name"
                        style="border: none;">
                    <input id="search-but" type="submit" value="">
                </div>

            </form>
        </div>

        {%if not all_chats%}
        <p style="text-align: center;">У Вас нет бесед</p>
        {%else%}
        <h1 style="margin-top: 43px; margin-left: 2px;">Мои беседы</h1>
        <table style="width: 100%;" id="chats-table">
            <!-- <tr>
                <td colspan="4" style="text-align:center">
                    <h1 id="my-page">Мои беседы</h1>
                        <span style="font-size: xx-larger; font-weight: bold;">Мои беседы:</span> 
                </td>
            </tr> -->
            {%for chat, message in all_chats%}

            <tr>
                {%if chat.companion.username != user.username%}
                <td style="width: 51px;">
                    <img class="friend_logo" src="{{chat.companion.avatar.url}}">
                </td>
                <td style="text-align:center">
                    <b><a style="color:black;" class="person_name"
                            href="/person/id_{{chat.companion.person_id}}">{{chat.companion.username}}</a></b>

                </td>
                {%else%}
                <td style="width: 51px;">
                    <img class="friend_logo" src="{{chat.author.avatar.url}}">
                </td>
                <td style="text-align:center">
                    <b><a style="color:black;" class="person_name"
                            href="/person/id_{{chat.author.person_id}}">{{chat.author.username}}</a></b>

                </td>
                {%endif%}
                <td style="text-align: center;">
                    <button
                        style="color: white; font-weight: bold; background: #00BFFF; border: hidden; border-radius: 6px; height: 35px; width: 150px;"
                        onclick="show_chat('{{chat.id}}', '{{chat.author.person_id}}', '{{chat.companion.person_id}}', '{{chat.last_change}}'); return false">Продолжить
                        беседу</button>
                </td>
                <td style="text-align: center;">
                    <form action="/delete_chat" method="post">
                        {%csrf_token%}
                        <input type="text" name="chat_id" value="{{chat.id}}" hidden>
                        <input
                            style="color: white; font-weight: bold; background: #00BFFF; border: hidden; border-radius: 6px; height: 35px; width: 150px;"
                            type="submit" value="Удалить беседу">
                    </form>

                </td>
            </tr>


            {%endfor%}
        </table>
        {%endif%}
    </div>


    <div id="wrap" style="display: none;">
        <div id="chat-box">
            <div style="text-align: right;">
                <img onclick="close_message_box()" src="{% static 'img/close.png' %}">
                <!-- <a href="#" onclick="close_message_box(); return false;" style="float: right; color: #00BFFF; border: hidden;">Закрыть</a> -->
            </div>
            <div id="overflow-message-block">
            </div>

            <div class="new_message">
                <form id="message_form" name="message_form">
                    {%csrf_token%}
                    <div>
                        <input type="text" name="chat_id" hidden>
                        <input type="text" name="author_id" hidden>
                        <input type="text" name="companion_id" hidden>
                        <textarea id="message_textarea" placeholder="Ваше новое сообщение..."
                            oninput="message_count_symbol()" name="message_text" required></textarea>
                    </div>
                    <div style="text-align: right;">
                        <span style="font-size: 0.7em;" id="message_counter"></span>
                    </div>
                    <div style="text-align: right; padding-bottom: 5px; box-sizing: border-box;">
                        <button style="color: white; background: #00BFFF; border: hidden; border-radius: 6px;"
                            onclick="create_ajax_request(); return false;">Отправить</button>
                    </div>
                </form>

            </div>

        </div>

    </div>


</div>


{%endblock%}